* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; 
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}